img {
   width: 170px;
}
body {
    text-align: center;
    font-family: "Old-English";
    font-size: large;
    background: black;
    color: white;
}

a {
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: black;
}
